# Data type

Data Structures - 
1. Lists
2. Dictionary
3. Sets 
4. Tuples

Lists [ ] - They are the Data Structures that holds any kind(numeric values, string/text values, float values, etc..) of data, and we can also store nested list values. Lists are mutable(changable), that means we can change the values, also we can remove the values.

Dictionary {"key1":"[Values1,value2,value3.....]"} ----
{"key1":"Value1","key2":"value2","key3":["Value1","Value2",......]
- Dicitonary is also a kind of data structure , where we need to define keys and values seperately . Dictionary are also mutable, but we need to specify the key, if we want to change the value

Sets {1,2,3,4,5,2,3,5,6 } - The property of the sets is they will only display the unique values. They are not mutable, that means we cannot change the values.

Tuple ( ) - Tuples are very similar to lists, that means we can store any kind of value we want, Tuples also support nested tuples, But the major difference between tuple and lists is, Tuples are immutable(values cannot be changed).

In [ ]:
#Tuples

star=(1,2,3,4,1,2,5,6,2,3,4,5)
star

In [ ]:
type(star)
#len(star)

In [ ]:
star

In [ ]:
5+25

In [ ]:
"Hi everyone @@@@@##$!$!$%%$!$!and welcome to today's session"

In [ ]:
2 / 4

In [ ]:
print(10+10)
#print("Good Afternoon")
print(25+5)
"hello World"

In [ ]:
#Squaring the Number

5*5*5*5*5
5**5

In [ ]:
14 % 2

In [ ]:
7 % 2

In [ ]:
(25 + 29) * (12 + 29) + (121+345) + (988+922) - (185*455) / (25+976)-(623+294)

# Variable Assignment

# Part of exercise - please assign new variable names while including below given symbols                  

:'",<>/?|\!@#%^&*~-+

In [ ]:
# Can not start with number or special characters
car = 2

In [ ]:
car

In [ ]:
x

z

In [ ]:
x = 20
y = 3

In [ ]:
z = x + y
z

In [ ]:
z="Karan"
z

# Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
"Today's !@#$%^&*(())session is at 4pm"

In [ ]:
" Hello 55 World @!?? 87'6 efgdtrs 5453 ghftrfs "

In [ ]:
'He Said."Hello"'

### Printing

In [ ]:
x = 242424
x

In [ ]:
print(x)

# Create a sentence where the outpt will generate name of the person, desingation, age, gender and salary

In [43]:
num = 12
name = "Sam"
num1=23
name1="John"
num2=25
name2="Sandy"

In [45]:
abc="Karan"
zxc="Deep Learning"

In [49]:
print("Hi {star}! Nice to meet you {star} and welcome to {fish} session".format(star="Hritik",fish="Machine Learning"))

Hi Hritik! Nice to meet you Hritik and welcome to Machine Learning session

In [50]:
print('My Age is: {one}, and my Name is: {two}'.format(one=num2,two=name))

My Age is: 25, and my Name is: Sam

In [51]:
print('My Age is: {}, and my name is: {}. The class will start @ {}:00 pm'.format(num1,name,num))

My Age is: 23, and my name is: Sam. The class will start @ 12:00 pm

### Lists

In [ ]:
len([1,2,3])
['hi',1,[1,2],(1,3)]

In [ ]:
sun=["Moon","Earth","Mars"]
sun

## Extend Function

In [ ]:
sun.extend(["Neptune","Saturn","Uranus"])
sun

## Append Function

In [ ]:
#sun.append("Jupiter")
sun.append(["Pluto","Neptune"])
sun

## Insert Function

In [ ]:
sun=["Moon","Earth","Mars"]
sun.extend(["Neptune","Saturn","Uranus"])
sun

In [ ]:
#Index Position Number
sun.insert(5,["Solar System","Pluto","Galaxy"])
sun

# Deletion of Lists

## del

In [ ]:
del sun

In [ ]:
sun

## remove

In [ ]:
sun.remove("Moon")
sun

## pop

In [ ]:
sun.pop(2)
sun

In [ ]:
my_list = ['a','b','c']
my_list
len(my_list)
type(my_list)

In [ ]:
#Append adds a new element into the pre-existing object/variable
my_list.append('d')
my_list.append('1')
my_list.append("K")
my_list.append(["Karan","Mehta","Hi"])
my_list.append(["T","H"])

In [ ]:
my_list

In [ ]:
my_list[6][1]

In [ ]:
my_list[4]="New Delhi"

In [ ]:
my_list

In [ ]:
#Object Slicing
my_list[6][0][2]

In [ ]:
#Negative Object Slicing
my_list[-6]

In [ ]:
my_list[-3]
my_list

In [ ]:
#Sequence
my_list[:5]

In [ ]:
my_list[:7]
my_list[2:]
my_list[2:5]
my_list

In [ ]:
#Replacing List Element
my_list[6] = 'Python'
my_list[7][0]="Tree"
my_list[7][1]="Hat"

In [ ]:
my_list

In [ ]:
#Nesting List
nest = [1,2,3,[4,5,['target',"Hello","Hi"]]]
nest

In [ ]:
#nest[3][2][1]
smoke

In [ ]:
#(wills from the sentence, 10 Minutes, exercise, of time, Welcome, performing a simple)

In [ ]:
#Appending a new element into a nested list
nest[3][2].append("Earth")

In [ ]:
#Only require
smoke[1][6]

In [ ]:
nest[3][2][1]

In [ ]:
smoke=["Hi Guys",["Welcome","to","this Session",["We","will","be","performing a simple","exercise"],"that","will","only require","10 Minutes"],"of time"]
smoke

In [ ]:
smoke[1][4]

In [ ]:
#(wills from the sentence, 10 Minutes, exercise, of time, Welcome and performing a simple)

In [ ]:
print(smoke[1][3][1], smoke[1][5], smoke[1][7], smoke[1][3][4], smoke[2], smoke[1][0], smoke[1][3][3])

In [ ]:
smoke

In [ ]:
# 10 Minutes

smoke[1][7]

In [ ]:
# exercise

smoke[1][3][4]

In [ ]:
#of time
smoke[2]

In [ ]:
#Welcome

smoke[1][0]

In [ ]:
#performing a simple

smoke[1][3][3]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2',"key3":["item1","item2","item3"]}
type(d)

In [ ]:
d["key3"]

In [ ]:
type(d)
d["key3"][0]="Karan"
#d["key2"]="Friday"
d

In [ ]:
d1={"Name":["Ram","Shyam","Joseph","Jerry"],"Age":[23,24,26,25],"Location":["Delhi","Mumbai","Chennai","Pune"]}
d1

In [ ]:
import pandas as pd
pd.DataFrame(d1)

In [ ]:
Saturday=[
    ["p0","q1",1,2],
    ["p1","q2",3,4],
    ["p2","q3",5,6],
    ["p3","q4",7,8]
]
type(Saturday)

In [ ]:
import pandas as pd
pd.DataFrame(Saturday)

In [ ]:
import pandas as pd
star=pd.DataFrame(Saturday)
star
#install is not recognzed as in internal or external command

In [ ]:
Saturday=pd.DataFrame(Saturday)
Saturday

In [ ]:
star=star.append({"Name":"TOM","Age":29,"Location":"Bihar"},ignore_index=True)

In [ ]:
star

In [ ]:
star

In [ ]:
d1

In [ ]:
#Accesing elements with key
print(d1["Name"])
print(d1["Age"])
print(d1["Location"])

In [ ]:
d1
what files?

In [ ]:
#Checkinf if Dictionary contains the key["Numeric"  and "Character" Keys]
"Name" in d1
"Salary" in d1
"Location" in d1
d1

In [ ]:
#Inserting new key and value
d1["Sun"]=["Moon","Earth","Mercury","Venus","Mars",123]
d1

In [ ]:
#Inserting a new Numeric Key and value
d1[786]=[100,150,200]
d1

In [ ]:
raw={"Sun":["Moon","Earth","Mercury","Venus","Mars"]}
type(raw)

In [ ]:
#replacing the elements/values
raw["Sun"]=["Ram","Shyam","Mohan"]
raw

In [ ]:
raw["Sun"].append(["jupyter","moon"])
raw

In [ ]:
#Appending the new values
#Whether the append function works with Dictionary or not?
raw["Sun"].extend(["Jupyter","Moon"])
raw
#Update and Insert, extend

In [ ]:
raw

In [ ]:
#Deleting whole dictionary
del d1
d1
# If you have executed this command the whole object will get removed To work again with the dictionary object please-
#-execute the d1 commands from beginning.

In [ ]:
d1={"Name":["Karan","Karan1","Karan2","Karan3"],"Age":[23,24,25,26],"Location":["Delhi","Mumbai","Chennai","Pune"]}
d1

In [ ]:
#Deleting key in Dictionary but first again run the codes
del d1["Age"]
d1

In [ ]:
#Removing values in Key
del d1["Name"][0]
d1
#Type the Output in chat box

In [2]:
#d1

input()

karan

'karan'

# Input

In [5]:
name=input("What's your name ")
age=int(input("What's your age "))
print("\n")
print("Hi!",name,"Welcome and your age is ",age)

What's your name Karan
What's your age 12


Hi! Karan Welcome and your age is  12

In [ ]:
name=input("What's your name ")
age=int(input("WHat's your age "))
salary=int(input("What's your salary "))
print("\n")
print("Hi!, your name is ",name,"\n","Your age is",age,"\n","Your salary is",salary,"\n","Thank you","and Nice to meet you")

#Name, Age, Salary, Location, Address, Phone Number, Account Number(10 Digit), AAdharCard(), State.

In [ ]:
int(str(18))
int("Karan")

In [ ]:
#list
list1=[23,45,56,78,90,32,54,76,89,0,21,12,101,151,134,3,4,5]
#sort()
#sorted()

In [ ]:
list1.sort(reverse=True)
list1

In [ ]:
sorted(list1,reverse=True)

In [ ]:
list1

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples 

1. ( )
2. tuple()

In [30]:
t = (1,2,3,"Hi",[1,2,3,4])
t

(1, 2, 3, 'Hi', [1, 2, 3, 4])

In [29]:
type(t1)

tuple

In [14]:
new=[1,2,3,4,5]
new
new[3]=44
new

[1, 2, 3, 44, 5]

In [16]:
t

(1, 2, 3, 'Hi', [1, 2, 3, 4])

In [ ]:
#type(t)
t[0]
z=list(t)
z[0]=222
z
r=tuple(z)
r

In [ ]:
t
tuple()
list()
set()
dict()

In [ ]:
list1=list(t)
list1

In [ ]:
#From Hi to Bye
#list1[3]="Bye"
tuple(list1)
#Index Position Number

In [ ]:
list1[4][2]="Good"
print(list1)

In [ ]:
#Nested Tuple
nested_tup=(4,5,6,(7,8))
nested_tup
#try the slicing exercise with nested tuples

In [ ]:
nested_tup[3][1]

In [ ]:
#Converting any string or sequence into the tuple
tup=tuple([1,2,3,4,5])
print(tup)
#Tuples are immutable they cannot be changed.
#Minor Exercise - Try to execute list functions like append and extend and also delete and remove

In [ ]:
#Trying to replace an element
#tup[0] = 'NEW'

In [ ]:
t=tuple("Good Morning")
t=t+(" ","L","O","L")
t

### Sets

In [ ]:
x={1,2,3,1,9,9,9,2,2,1,2,3,3,3,3,2,2,2,1,1,2,4,5,5,5,5,5,6,6,7,8,6}
x1=[1,2,3,1,9,9,9,2,2,1,2,3,3,3,3,2,2,2,1,1,2,4,5,5,5,5,5,6,6,7,8,6]
print(x)

print()

print(x1)

In [ ]:
s1={1,2,3,4}
s1.pop()
print(s1)

In [ ]:
#Uniquely identified the elements
print({1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,4,5,5,5,5,5,6,6,7,8,6})
[1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,4,5,5,5,5,5,6,6,7,8,6]

#                          Minor Exercise
#appending
#object slicing
#removing any element
#replacing with one element and multiple elements

In [ ]:
#Adding new Element into Sets
#x.add((24,34))
#x
#Replacing of Sets
s = {1,2,4,43,25,4}
s.update([99,100,101])
print(s)

In [1]:
x1={(1, 2, 3), -7, 1, 2, 3, 4, 5, 6, 7, 8}
x1
x2=[1,2,3,"Hello",("Hi",23,45,67)]
x2

[1, 2, 3, 'Hello', ('Hi', 23, 45, 67)]

# SEssion will start @ 8:40

## Comparison Operators

In [4]:
#Smaller than
1 < 2

True

In [8]:
#Less than equal to
22<=2

False

In [11]:
#Greater than
199.99 > 200

False

In [ ]:
#Greater than equals to
4 >= 1

In [ ]:
#Smaller than Equals to
3 <= 3

In [ ]:
# Equals to
1 == 1

In [ ]:
#Not Equals to
1 != 12

In [ ]:
#Equals to
'Hello' == 'hello'

## Logic Operators

In [14]:
(1 < 2) and (22 < 3) and (4==4) #and -

False

In [ ]:
(1 < 2) & (2 < 3) #and

In [ ]:
(1 > 2) or (2 < 3) or (4==3)  #or

In [ ]:
(1 == 2) | (3 == 3) | (4 == 4)

In [ ]:
(1 == 2) & (3 == 3) & (4 == 4)

In [ ]:
3==4

In [ ]:
if 4==5:
    print("Correct Answer")
else:
    print("Wrong Answer")

In [ ]:
if int(input("Please provide First Number: "))==int(input("Please provide the Second Number: ")):
    print("That's a correct Number")
else:
    print("Please provide the same number")
#Also execute the code

In [ ]:
if 25==int(input("Please provide a number")):
    print("Correct")
else:
    print("Incorrect")

## if,elif, else Statements

In [ ]:
#Try with as much different conditions as you can
if 12 < 10:
    print("Right Condition")

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 10 > 8:
    print('Right Condition')
else:
    print("Wrong Condition")

In [ ]:
if "Hi" == "Hi":
    print('first')
else:
    print('last')

In [ ]:
if 1 == 11:
    print('first')
elif 3 == 23:
    print('second')
elif 3==33:
    print("Match Found on Third else if condition")
elif 4==42:
    print("Finally Found!")
else:
    print('Nothig Found')

In [28]:
if 1 == 1:
    print('first')
if 3 == 3:
    print('second')
if 3==33:
    print("Match Found on Second else if condition")
if 4==4:
    print("Finally Found!")
else:
    print('Nothig Found')

first
second
Finally Found!

In [37]:
word="Breakfast"
for letter in word:
    print(letter)
    if letter=="f":
        break

B
r
e
a
k
f

In [43]:
num=0
for i in range(10):
    if i==4:
        break
    print("The Itreation number is :",i)

The Itreation number is : 0
The Itreation number is : 1
The Itreation number is : 2
The Itreation number is : 3

In [36]:
num=0
for i in range(10):
    num +=1
    if num==8:
        break
    print("The num has value: ",num)

The num has value:  1
The num has value:  2
The num has value:  3
The num has value:  4
The num has value:  5
The num has value:  6
The num has value:  7

In [ ]:
var1=200

if var1==100:
    print("You got the Number")
else:
    print("You haven't got the Number")

print()

var2=20
if var2==20:
    print("Now you got the Number")
else:
    print("Sorry Didn't got the number")

In [ ]:
x=16
print("Today's date is " + str(x))
print("Today's date is {}".format(x))

In [ ]:
var=int(input("Please provide a number "))
print()
if var==200:
    print(" You got the number: ",var)
elif var==150:
    print("You have got the Number: "+str(var))
elif var==100:
    print("You have got the Number: {}".format(var))
elif var==300:
    print(f"You have got the Number {var}")
else:
    print("\n","Still haven't got the number")

## for Loops

In [59]:
seq = [1,2,3,4,5,6,7,8,9,10]
seq

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
for star in seq:
    print(star)
    
star

1
2
3
4
5
6
7
8
9
10

10

In [ ]:
for fun in "Good Morning":
    print(fun)
fun

seq

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
#Indentation
for jelly in seq:
    print("{}. Iteration- 10/{}".format(jelly,jelly))
    print(star/jelly)
    print()

In [ ]:
for sun in seq:
    print(item)

In [ ]:
num=[1,2,5,6,7,8,25]

sq=[]

for i in num:
    z=i*i
    print("{}*{}={}".format(i,i,z),"\n")
    sq.append(z)

In [ ]:
sq

## while Loops

In [ ]:
i = 0
while i <= 10:
    print(f'i is: {i}') #Latest
    #print("i is:",i)
    #print("i is: {}".format(i)) #Traditional 
    #print("i is: "+str(i))
    i = i+1
    print(i)

In [ ]:
[i*i for i in range(10)]

## list comprehension

In [48]:
#It's a for loop within List DataStructure
age=[10,12,14,15,16,18,11,14,13]
new_age=[]
for i in range(len(age)):
    new_age.append(age[i]+10)
new_age

[20, 22, 24, 25, 26, 28, 21, 24, 23]

In [47]:
#List Comprehension
fun_age=[i+10 for i in age]
fun_age

[20, 22, 24, 25, 26, 28, 21, 24, 23]

In [ ]:
#For Loops vs List Comprehension
sq=[]
for x in range(10):
    sq.append(x**2)
print(sq)

print("\n")

#List Comprehensions
squares=[x**2 for x in range(10)]
print(squares)

In [ ]:
#For Loops
sq=[]
for x in range(10):
    sq.append(x+2)
print(sq)

print("\n")

#List Comprehensions
squares=[x+2 for x in range(10)]
print(squares)

In [ ]:
list1=[6,7,8,7,5,1,9]
multiple=[item*(item/3) for item in list1]
print(multiple)

#Execute the code with For Loops as well by using append function.

sq=[]
for i in list1:
    sq.append(i*(i/3))
print(sq)

In [ ]:
#Minor Exercise
#Show the output of every 3rd letter from each word with List Comprehension and For Loops

word=["Good","Baddest","Worse","Best","Better","Hello","Python"]

sq=[]
for i in word:
    sq.append(i[3])
print(sq,"Accessing every 4th Elemnet")

print()

fish=[i[1] for i in word]
print(fish,"Accessing every 2nd Element")

In [ ]:
for i in word:
    print(i[2])

In [ ]:
gun=[]

for i in "human":
    gun.append(i)
print(gun)

In [ ]:
gunn=[i for i in "human"]
print(gunn)

## functions

In [3]:
#Basic Function

def fun_session(x):
    return min(x)/max(x)

In [5]:
4/89

0.0449438202247191

In [4]:
kite=[5,6,7,8,9,4,10,14,15,18,21,77,89]
fun_session(kite)

0.0449438202247191

In [ ]:
def multiplication(x,y):
    mult=x*y
    return mult;

multiplication(10,2)

In [ ]:
def add(x,y):
    return x+y

add(10,2)

In [ ]:
def celcius_to_fahre(x):
    fah=((x*1.8)+32)
    print(fah,"Fahrenheit")

celcius_to_fahre(20)

#Exercise1 Convert Fahrenheit to Celcius
#Exercise2 Convert Kilometer per liter to Miles per gallon
#Exercise3 Convert KM/h to meter/second

In [6]:
def add_num(a,b):#function for addition
    add=a+b;
    return add; #return value
num1=int(input("input the number one: "))#input from user for num1
num2=int(input("input the number one :"))#input from user for num2

print("The sum is",add_num(num1,num2))#call te function

input the number one: 24
input the number one :24
The sum is 48

In [ ]:
def call(name,age,gender):
    print("hello my name is",name,"i am ",int(age),"year old and my gender is",gender)

In [ ]:
call("Karan",22,"Gender")
call("Gender",23,"Karan")
call("Karan",123,"Male")

In [ ]:
def str_convert(x):
    return str(x)

In [ ]:
str_convert("Karan")

In [ ]:
def square(x):
    return x**3

In [ ]:
square(6)

## methods

In [7]:
st = 'Hello my Name is Sam'
st

'Hello my Name is Sam'

In [8]:
st.lower()

'hello my name is sam'

In [9]:
st.upper()

'HELLO MY NAME IS SAM'

In [13]:
raw="Hi       "
raw1="       H1"
raw2="    HI     "

raw2.strip()
#raw2.lstrip()
#raw2.rstrip()

'HI'

In [18]:
rr=st.split()
rr

['Hello', 'my', 'Name', 'is', 'Sam']

In [20]:
mes2="I can't wait  to go to the amusement park"
print(mes2.split("go"),"\n")
print(mes2.split())

["I can't wait  to ", ' to the amusement park']

['I', "can't", 'wait', 'to', 'go', 'to', 'the', 'amusement', 'park']

In [28]:
mes2.split("the")

["I can't wait  to go to ", ' amusement park']

In [ ]:
#Exercise
ss="my age is 20"
ss1=ss.split()
print(ss1)
ss1[1].upper()

In [ ]:
print(ss1)
ss1[0].upper()

In [ ]:
tweet = 'Go Sports! #Sports'
print(tweet.split("#"))
print(tweet.split("!"))
print(tweet.split("!")[0])
print(tweet.split("!")[1])

In [ ]:
tweet = 'Go Sports! #Sports'

#please work on below exercise as well!


#"Good Morning! How's the Day! What time is it?"          #Split the string on !
#"Welcome home buddy! I have got 200$ for shopping"       #Split the string on ! and $ seperately
#"I can't wait to go to the amusement park"               #Transform the strings in upper case.

In [ ]:
print(tweet.split())
print(tweet.split("!"))
print(tweet.split("#"))

In [ ]:
x="Welcome home buddy! I have got 200$ for shopping"
print(x.split("!"))
x.split("$")

In [ ]:
tweet.split('#')

In [ ]:
tweet
tweet.split('!')

In [ ]:
#Concatenation
[56,"Fish","Sun",99]+[7,6,"Rise",5.55]

In [8]:
#Sorting
a=[7,4,9,3,1,10,43]
a.sort()
print(a)
a.sort(reverse=True)
a
import pandas as pd

[1, 3, 4, 7, 9, 10, 43]

In [32]:
x=int(input("How many records you want"))
list1=[]
list2=[]
for i in range(x):
    name1=input("Name")
    age1=int(input("Age"))
    list1.extend([name1])
    list2.extend([age1])
for i in range(len(list1)):
    print(i)

How many records you want2
Namekaran1
Agekasd

ValueError: invalid literal for int() with base 10: 'kasd'

# Great Job!